.video-player {
  width: 100%;
  height: 100%;
}

.full-screen {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .16rem .16rem .42rem;
  color: #fff;
  transition: opacity .4s linear;
}

.video-info .video-author {
  font-size: .15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  /* letter-spacing: 1px; */
  margin-bottom: .05rem;
}

.video-info .video-desc {
  font-size: .14rem;
}

.play-controls-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: .64rem;
  height: .64rem;
  opacity: .8;
  z-index: 10;
}

.play-icon, .pause-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.progress-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: .36rem;
}

.progress-control .player-progress {
  position: relative;
  top: 0;
  left: 0;
  height: .024rem;
}

.progress-inner {
  position: relative;
  height: 100%;
  background: hsla(0, 0%, 100%, .3);
  transition: height .2s ease-in;
}

.progress-inner .progress-played {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0;
  height: 100%;
  background: hsla(0, 0%, 100%, .6);
}

.player-progress .progress-btn {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.player-progress .progress-btn::before {
  content: "";
  display: block;
  width: .06rem;
  height: .06rem;
  background: hsla(0, 0%, 100%, .6);
  position: relative;
  /* left: 50%; */
  border-radius: 50%;
}

.opacity-hide {
  opacity: 0;
}

.player-progress.touched {
  height: .04rem;
}

.player-progress.touched .progress-played {
  background: #fff;
}

.player-progress.touched .progress-btn::before {
  width: .08rem;
  height: .08rem;
  background: #fff;
}

.progress-move-info {
  position: absolute;
  z-index: 10;
  top: -.72rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  color: #fff;
  display: flex;
  align-items: center;
}

.progress-move-info .video-current, .progress-move-info .video-duration {
  font-size: .2rem;
  font-weight: 400;
}

.progress-move-info .divide {
  margin: 0 .1rem;
}

.progress-move-info .divide, .progress-move-info .video-duration{
  opacity: .6;
}

.show {
  display: block;
}

.hide {
  display: none;
}